section{
	padding-bottom: 20px;
}
.time, .day, .hh{
	color: red;
	font-size: 50px;
	text-align: center;
}
table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
}
th,td {
  padding: 5px;
}
.pp{
	padding: 5px 0px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.blue{
	color: blue;
}
#panel1, #flip1 {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #555;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel1 {
  padding: 50px;
  display: none;
}
#panel2, #flip2 {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel2 {
  padding: 50px;
  display: none;
}